doctype html
html
  head
    title Best Dance Academy
    block scripts
    //-   script(src='/jquery.js')
    block style
  body
    nav#navbar
        ul  
            div.logo
                img(src="../static/png1.png", alt="")
            li #[a(href="/") Home ]
            li #[a(href="/") About ]
            li #[a(href="/") Services ]
            li #[a(href="/") Class info ]
            li #[a(href="/contact") Contact Us]
    block content
    //- block foot
    //-   #footer
    //-     p some footer content
    footer#footer
        div.footercontent Copyright © 2023 The Best Dance Academy | All Rights Reserved